body {
	font-family: "Lucida Grande";
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.top-wrapper {
	padding: 180px 0 100px 0;
	background-image: url(file:///C:/Users/WINDOWS/Documents/perpustakaan/images/bg1.JPG);
	background-size: cover;
	color: white;
	text-align: center;
}

.container {
	width: 1170px;
	margin: 0 auto;
	background-color: rgba(34, 49, 52, 0.5);
}

header {
  height: 55px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
	float: left;
}

.header-left h1, h2 {
	font-size: 20px;
	margin-top: 12px;
	display: inline-block;
	color: #ddd;
	font-weight: normal;
}
.header-left h1 {
	margin-left: 20px;
}

.logo {
	float: left;
	line-height: 10px;
	width: 22px;
	margin-top: 5px;
	display: inline-block;
}

.header-right {
	float: right;
	background-color: rgba(255, 255, 255, 0.3);
	transition: all 0.5;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 55px;
  padding: 0 25px;
  color: white;
  display: block;
}

.top-wrapper h1 {
	opacity: 1;
	font-size: 45px;
	letter-spacing: 5px;
	margin-bottom: 10px;
}

.top-wrapper p {
	opacity: 1;
	margin-bottom: 3px;
    letter-spacing: 2px;
}

.btn-wrapper {
	margin: 20px 0;
}

.btn-wrapper p {
	margin: 10px 0;
}

.signup {
	background-color: #239b76;
}

.btn {
	padding: 12px 24px;
	color: white;
	display: inline-block;
	opacity: 0.8;
	border-radius: 4px;
}

.btn:hover {
	opacity: 1;
}

footer img {
  width: 25px;
  float: right;
}

footer p {
  color: #000;
  font-size: 15px;
  margin-right: 45px;
}

footer {
	float: right;
	padding-top: 30px;
}